Source/BaldHeadApp/BaldHead/Service References/ScoreKeeper/ScoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Score.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Score.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Score.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScoreKeeper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ScoreService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ScoreService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ScoreService_GetTopScores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopScores" />
  </wsdl:message>
  <wsdl:message name="ScoreService_GetTopScores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopScoresResponse" />
  </wsdl:message>
  <wsdl:message name="ScoreService_GetTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="ScoreService_GetTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="ScoreService">
    <wsdl:operation name="Add">
      <wsdl:input wsam:Action="http://tempuri.org/ScoreService/Add" message="tns:ScoreService_Add_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ScoreService/AddResponse" message="tns:ScoreService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopScores">
      <wsdl:input wsam:Action="http://tempuri.org/ScoreService/GetTopScores" message="tns:ScoreService_GetTopScores_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ScoreService/GetTopScoresResponse" message="tns:ScoreService_GetTopScores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input wsam:Action="http://tempuri.org/ScoreService/GetTime" message="tns:ScoreService_GetTime_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ScoreService/GetTimeResponse" message="tns:ScoreService_GetTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ScoreService" type="tns:ScoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ScoreService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopScores">
      <soap:operation soapAction="http://tempuri.org/ScoreService/GetTopScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/ScoreService/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScoreService">
    <wsdl:port name="BasicHttpBinding_ScoreService" binding="tns:BasicHttpBinding_ScoreService">
      <soap:address location="http://localhost:8088/Score.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>